body {
  font-family: 'Poppins', sans-serif;
}

/* .card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
} */

/* .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
} */

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.text-pink {
  color: #f1a5c7;
}

/* .text-pink {
  color: #F8BBD0;
} */

.nav-link {
  color: #000 !important;
  font-weight: 500;
  padding: 8px 14px !important;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #f8f9fa;
}

.nav-link.active {
  background-color: #060414;
  color: #fff !important;
  font-weight: 600;
}

.btn-dark {
  background-color: #000 !important;
  border-color: #000 !important;
  color: white !important;
  font-weight: 500;
  transition: 0.3s;
}

.btn-dark:hover {
  background-color: #333 !important;
  border-color: #333 !important;
}

.btn-pink {
  background-color: #F8BBD0;
  color: #fff;
  border: none;
  transition: all 0.3s;
}

.btn-pink:hover {
  background-color: #f39ac7;
}

.badge-category {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFE082;
  color: #333;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 4px 8px;
}

header .d-flex img {
  height: 35px !important; 
  width: auto !important; 
}

.admin-title-bar {
  background: linear-gradient(90deg, rgba(254, 249, 195, 0.3), rgba(252, 231, 243, 0.3), rgba(224, 242, 254, 0.3));
}

.table-admin th {
  background-color: #f9fafb;
  color: #4b5563;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.btn-success-custom {
  background-color: #25d366 !important;
  color: white !important;
  border: none;
  transition: opacity 0.2s;
}

.btn-success-custom:hover {
  opacity: 0.9;
}

.btn-brand {
  background-color: #e4405f !important;
  color: white !important;
  transition: opacity 0.2s;
}

.btn-brand:hover {
  opacity: 0.9;
}

.tracking-wide-1 {
  letter-spacing: 1px;
}

.text-pink-dark {
  color: #e4405f;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
  backdrop-filter: blur(2px); /* Efeito de desfoque */
}